---
import Layout from "../layouts/Layout.astro";
import Download from "../components/Download";
---

<Layout title="Youtube Converter.">
  <div class="relative z-10 flex flex-col py-14 bg-green-400 w-3/4 mx-auto border-2 rounded-xl mt-12 shadow-lg shadow-black">
    <h1 class="text-center text-2xl mt-8 mb-4 font-bold mr-auto ml-auto text-red-600">
      YT Converter by <span class="text-green-950">JeanStkng</span>
    </h1>
    <p class="text-center text-xl mb-4 mx-auto text-black font-semibold">
      Paste your URL and hit the button to start downloading
    </p>
    <Download client:only="preact" />
  </div>
</Layout>
