---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Youtube Converter.">
  <h1 class="text-center text-2xl mt-8 mb-4 mr-auto ml-auto text-red-500">
    YT Converter by <span class="text-emerald-400">JeanStkng</span>
  </h1>
  <p class="text-center text-xl mb-4 mx-auto text-white">
    Paste your URL and hit the button to start downloading
  </p>
  <ul role="list">
    <Card
      href="https://astro.build/chat/"
      title="Community"
      body="Come say hi to our amazing Discord community. ❤️"
    />
  </ul>
</Layout>
